*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#player1{
    background: white;
    width: 1%;
    height: 30%;
    position: absolute;
    left: 0;
}
#player2{
    background: white;
    width: 1%;
    height: 30%;
    position: absolute;
    right: 0;
}
.ball{
    background-color: white;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
}